.course-student-stream {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.stream-box {
	width: 100%;
	height: 100%;
	padding: 1em;
	flex-wrap: nowrap;
	flex-direction: row;
}

.course-stream-video {
	width: fit-content;
	height: auto;
	background-color: white;
	flex: 2;
	position: relative;
}

.course-stream-video > div {
	width: 100% !important;
	height: 100% !important;
	max-width: 1280px !important;
	max-height: 720px !important;
}

.course-stream-video video {
	border-radius: 6px;
	border: 2px solid white;
	text-align: center;
	min-width: 100%;
	min-height: 100%;
}

.course-stream-action {
	width: 100%;
	flex: 1;
	height: initial;
	padding-right: 0.7em;
}

.react-swipeable-view-container > div[aria-hidden="false"] {
	height: 100% !important;
}

.react-swipeable-view-container > div[aria-hidden="true"] {
	height: 0 !important;
}

@media (max-width: 575.98px) {
	.stream-box {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.course-stream-video {
		width: auto !important;
		height: auto !important;
	}

	.course-stream-video > div {
		width: 100% !important;
		height: 100% !important;
	}

	.course-stream-video video {
		width: inherit;
		height: auto !important;
	}

	.course-stream-action {
		padding-right: 1em;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.stream-box {
		flex-direction: column;
		flex-wrap: wrap;
	}

	.course-stream-video {
		width: auto !important;
		height: auto !important;
	}

	.course-stream-video > div {
		width: 100% !important;
		height: 100% !important;
	}

	.course-stream-video video {
		width: inherit;
		height: auto !important;
	}

	.course-stream-action {
		padding-right: 1em;
	}
}

@media (min-width: 1920px) {
	.course-stream-video > div {
		width: 720px !important;
		height: 405px !important;
	}
}
