.course-live-chat {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.live-chat-box {
	/* height: calc(400px);
	max-height: calc(720px - 3em - 85px); */
	/* height: 300px; */
	padding-top: 0.5em;
	white-space: pre-wrap;
	word-break: break-all;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	flex-grow: 1;
}

.live-chat-box::-webkit-scrollbar-track {
	background-color: transparent;
}

.live-chat-box::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

.live-chat-box::-webkit-scrollbar-thumb {
	background: #fdc830; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f37335, #fdc830); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#f37335,
		#fdc830
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 15px;
}

.live-chat-input{
	height: 2em;
}

@media (max-width: 575.98px) {
	.live-chat-box, .live-chat-input {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}
